.mapSpace{
    height: 800px;
 width: 800px;
}
#map{
    height: 600px;
    width: 600px;   
}
.textField{
    width: 400px;
    align-items: center;
}

.displayPosition{
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}